{% comment %}
This is included by templates/resourcehandlers/sync_networks.html
which also enables the client side behaviors.
{% endcomment %}
{% load helper_tags %}

<table id="discovered_networks" data-table="dialog clickable">
    <thead>
        <tr>
            <th><input class="check-column" type="checkbox" /></th>
            <th>Name</th>
            <th>DV Switch</th>
            <th>UUID</th>
        </tr>
    </thead>
    <tbody>
        {% for network in networks_added %}
        <tr>
            <td><input name="network" type="checkbox" value="{{ network.network }}"/></td>
            <td class="name">{{ network.name }}</td>
            <td>{{ network.dvSwitch }}</td>
            <td>{{ network.uuid }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
