{% load helper_tags %}
{% load rh_tags %}

<div class="btn-toolbar">
{% block template_buttons %}
    <a class="btn btn-default open-dialog"
        {% if import_dialog_width %}
            data-dialog-width="{{ import_dialog_width }}"
        {% endif %}
        href="{% url 'resourcehandler_discover_templates' handler.id %}"
        id="import-templates">
        <span class="icon-import"></span>
        Import {{template_label|default:"image"}}s
    </a>
{% endblock %}
</div>

<table id="templates" data-table>
    <thead>
        {% block template_columns %}
            <th>{{template_label|default:"image"|title}} name</th>
            <th>OS Build</th>
            <th>OS Build Environments</th>
            {% if show_total_disk_size_column %}
                <th>Total Disk Size</th>
            {% endif %}
            <th>Credentials</th>
            {% block additional_column_headers %}
            {% endblock additional_column_headers %}
            <th>Actions</th>
        {% endblock %}
    </thead>
    <tbody>
        {% block template_rows %}
            {% for template in templates %}
            <tr>
                <td class="name">{{ template.template_name }}</td>
                <td>
                    {% if template.os_build %}
                        <a href="{{ template.os_build.get_absolute_url }}">{{ template.os_build.os_family|os_family_icon }} {{ template.os_build.name }}</a>
                    {% else %}
                        <em>None</em>
                    {% endif %}

                    <a href="{% url 'resourcehandler_change_osbuild' handler.id template.id %}"
                        class="icon-edit open-dialog"></a>
                </td>
                <td>
                    {% if template.os_build %}
                        {% for env in template.envs %}
                            {% if forloop.last %}
                                {{ env|link_or_label:profile }}
                            {% else %}
                                {{ env|link_or_label:profile }},
                            {% endif %}
                        {% empty %}
                            None
                        {% endfor %}
                        <a title="Add OS Build to some environments..."
                            href="{% url 'link_template_to_envs' handler.id template.id %}"
                            class="icon-edit open-dialog"></a>
                    {% else %}
                    {% endif %}
                </td>
                {% if show_total_disk_size_column %}
                    <td>
                        {{ template.total_disk_size|render_size_field:"disk_size" }}
                    </td>
                {% endif %}
                <td>
                    {% template_credentials template template_label %}
                </td>
                {% block additional_column_data %}
                {% endblock additional_column_data %}
                <td>
                    <a class="icon-delete"
                        href="{% url 'resourcehandler_delete_osba' handler.id template.id %}"></a>
                </td>
            </tr>
            {% endfor %}
        {% endblock %}
    </tbody>
</table>


<script type="text/javascript">
$(document).ready(function() {
    {% if not handler_can_discover_templates %}
        $('#import-templates').addClass('disabled');
    {% endif %}
});
</script>
