{% if creds.username or creds.password or creds.keyfile %}
    <i class="fas fa-user"></i>
    {% if creds.username %}
        {{ creds.username }}
    {% else %}
        not set
    {% endif %}
    /
    <i class="fas fa-lock"></i>
    {% if creds.password %}
        ****    <!-- Temporary solution until Thomas does his pretty approach -->
    {% else %}
        not set
    {% endif %}
    {# Don't show key where it doesn't make sense #}
    {% if not template.is_windows %}
        /
        <i class="fas fa-key"></i>
        {% if creds.keyfile %}
            {{ creds.keyfile }}
        {% else %}
            not set
        {% endif %}
    {% endif %}
    <a title="Edit credentials for {{template_label|default:'image'}}"
      href="{% url 'edit_template_credentials' template.id %}"
      class="icon-edit open-dialog"></a>
    <a title="Delete credentials for {{template_label|default:'image'}}"
      href="{% url 'delete_template_credentials' template.id %}"
      class="icon-delete open-dialog"></a>
{% else %}
    None configured
    <a title="Add credentials to {{template_label|default:'image'}}"
      href="{% url 'add_template_credentials' template.id %}"
      class="icon-add open-dialog"></a>
{% endif %}
