{% extends "base.html" %}
{% load helper_tags %}

{% block topnav %}params{% endblock %}

{% block content %}
    <p>
    Customize the sequence in which these items are displayed in forms when ordering blueprints.
    </p>
    <div class="panel-heading">
        <a class="btn btn-primary open-dialog" id="revert-sequence" href="{% url 'revert_parameter_options_sequence' parameter_id %}">
            <span>Revert</span>
        </a>
    </div>

    <ol id="sequenced-items">
        {% for cfv in cfvs %}
            <li class="{% if forloop.first %} first{% endif %}">

                <div class="panel panel-default" data-id="{{ cfv.id }}">
                    <div class="panel-heading">
                        <span class="icon-param"></span>
                        &nbsp;{{ cfv.display_value }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ol>

{% endblock content %}

{% block onReady %}
c2.sortable.sortablePanels('#sequenced-items', '{% url "resequence_parameter_options"  %}');
{% endblock %}
