{% comment %}
    To prevent Chrome from autocompleteing username & password fields.
    http://stackoverflow.com/questions/15738259/disabling-chrome-autofill

    The "new-password" autocomplete value is documented here:
    https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#autofill

    `uuid` arg can be used to support multiple of these in one page. Anything
    to make the name fields unique should do it.
{%  endcomment %}
<!-- Fake some browsers into honoring autocomplete=off on username/password fields -->
<! -- # autocomplete = "off" does not work for most browsers to disable autofill -->
<! -- # autocomplete = "new-password" is respected by most browswers to disable autofill -->
<input autocomplete="new-password" class="hidden" name="fakePasswordTrick-username{{ uuid|default:'' }}" type="text">
<input autocomplete="new-password" class="hidden" name="fakePasswordTrick-password{{ uuid|default:'' }}" type="password">
