<link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}fonts/all-font-faces.css">
<link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
<link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}datatables/css/jquery.dataTables.min.css">
<link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/c2.css?fa6">
<link rel='stylesheet' type='text/css' href="/portal.css">{# dynamic CSS from PortalConfig #}
<link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/customer.css">
<link rel="stylesheet" type='text/css' href="{{ STATIC_URL }}css/style.min.css">

{# TODO: third party resources should be concatenated into fewer files #}
<link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}hljs/github.min.css">
<!--[if IE 9]>
<link href="{{ STATIC_URL }}css/ie9.css" rel="stylesheet" type="text/css" />
<![endif]-->
