{% comment %}
This is included by templates/resourcehandlers/sync_networks.html
which also enables the client side behaviors.
{% endcomment %}
{% load helper_tags %}

<table id="discovered_networks" data-table="dialog clickable">
    <thead>
        <tr>
            <th><input class="check-column" type="checkbox" /></th>
            <th>VLAN Number</th>
            <th>Data Center Name</th>
            <th>Is Public</th>
        </tr>
    </thead>
    <tbody>
        {% for network in networks_added %}
        <tr>
            <td><input name="network" type="checkbox" value="{{ network.network }}"/></td>
            <td>{{ network.vlan }}</td>
            <td>{{ network.datacenter }}</td>
            <td>{{ network.is_public }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
