<div class="btn-toolbar">
    <a class="btn btn-default"
        href="{% url 'import_vmware_datastores' handler.id %}"
        id="import_datastores">
        <span class="icon-import"></span>
        Import datastores
    </a>
</div>

<table id="datastores" data-table>
    <thead>
        <tr>
        <th>Datastore</th>
        <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {% for datastore in datastores %}
        <tr>
            <td class="name">{{ datastore.name }}</td>
            <td>
                {{ datastore.type }}
                <a title="Edit datastore '{{ datastore.name }}'"
                   href="{% url 'edit_vmware_datastore' datastore.id %}"
                   class="icon-edit open-dialog"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
