{% extends "base.html" %}
{% load admin_list %}
{% load item_list %}
{% load helper_tags %}
{% load infrastructure_tags %}
{% load account_tags %}

{% block title %}Resource Pool: {{ resource_pool.name }} {% endblock %}
{% block topnav %}admin{% endblock %}

{% block content %}

<h1>{{ resource_pool }}</h1>

<ul class="nav nav-boxed-tabs">
    <li class="active"><a data-toggle="tab" href="#tab-overview">Overview</a></li>
    <li><a data-toggle="tab" href="#tab-values">Values</a></li>
</ul>
<div class="tab-content">

    <div id="tab-overview" class="active tab-pane">
        {% include 'resourcepools/tab-overview.html' %}
    </div>

    <div id="tab-values" class="tab-pane">
        {% include 'resourcepools/tab-values.html' %}
    </div>

</div>
{% endblock content %}


{% block onReady %}
{% endblock onReady%}
