{% load account_tags %}
{% load helper_tags %}
{% load infrastructure_tags %}

<div class="btn-toolbar">
    <a class="btn btn-default open-dialog"
        href="{% url 'resourcepool_edit' resource_pool.id %}">
        <span class="icon-edit"></span>
        Edit
    </a>
    <a class="btn btn-default open-dialog"
        href="{% url 'resourcepool_delete' resource_pool.id %}">
        <span class="icon-delete"></span>
        Delete&hellip;
    </a>
</div>

<dl>
    <dt>Name:</dt>
    <dd>{{ resource_pool.name }}</dd>

    <dt>Scope:</dt>
    <dd>{{ resource_pool.global_scope|yesno:"Global,Local" }}</dd>

    <dt>Parameters:</dt>
    <dd>{{ params|render_list:profile }}</dd>

    <dt>Usage:</dt>
    <dd>{{ usage_str }}</dd>

    <dt>Environments:</dt>
    <dd>{{ resource_pool.environment_set.all|render_list:profile }}</dd>

    {% if profile.show_tenant_info %}
        <dt>Tenant:</dt>
        <dd>{{ resource_pool.tenant|link_or_label_none_global:profile }}</dd>
    {% endif %}

</dl>
