{% extends "servicecatalog/si_details_panel.html" %}

{% load account_tags %}
{% load helper_tags %}
{% load order_tags %}
{% load i18n %}

{%  block item_details_row %}
    {% with plugin_action=service_item.hook.cast %}
        <div class="row">
            {% if plugin_action.os_families.exists %}
                <div class="col-sm-6">
                    <dl class="vertical">
                        <dt>{% trans 'Target OS families:' %}</dt>
                        <dd>
                            {% with families=plugin_action.os_families.all %}
                                <ul class="list-unstyled">
                                    {% for family in families %}
                                        <li>{{ family|os_family_icon }} {{ family }}</li>
                                    {% endfor %}
                                </ul>
                            {% endwith %}
                        </dd>
                    </dl>
                </div>
            {% endif %}
            <div class={% if plugin_action.os_families.exists %}"col-sm-6"{% else %}"col-sm-12"{% endif %}>
                {% include 'servicecatalog/action_sequencing_options.html' %}
            </div>
        </div>

        <dl class="vertical">
            <dt>{{ plugin_action.type_slug|capfirst }}:</dt>
            <dd ng-non-bindable>
                {% if managing and profile.is_cbadmin %}
                    <a href="{{ plugin_action.get_absolute_url }}"
                        class="no-tooltip-affordance" data-toggle="tooltip"
                        title="Manage this {{ plugin_action.type_slug }}">
                        {{ plugin_action.name }}
                    </a>
                {% else %}
                    {{ plugin_action.name }}
                {% endif %}

                {% infotip plugin_action.description %}

                {% include 'actions/action_input_defaults.html' with action=service_item edit_url="edit_service_item" %}

                {% if managing %}
                    {% if file_error %}
                        <p class="text-danger">The file could not be read.
                        {% if plugin_action.source_code_url %}
                            Check your action's source code URL.
                        {% else %}
                            Edit the action and upload a new file.
                        {% endif %}
                        </p>
                        <pre class="text-danger">{{ file_error }}</pre>
                    {% else %}
                        <div ng-non-bindable>
                            <pre class="pre-scrollable lines-40"
                            ><code class="language-python">{{ file_content }}</code></pre>
                        </div>
                        <script>hljs.initHighlightingOnLoad();</script>
                    {% endif %}
                {% endif %}
            </dd>
        </dl>

    {% endwith %}
{%  endblock item_details_row %}
