{% load helper_tags %}
{% load i18n %}

{% block content %}

        <div class="btn-toolbar">
            <a class="btn btn-default open-dialog"
               href="{% url 'network_virtualization_edit' sdn.id %}">
                <span class="icon-edit"></span>
                Edit Credentials
            </a>
                <a class="btn btn-default open-dialog"
                href="{% url 'network_virtualization_delete' sdn.id %}">
                    <span class="icon-delete"></span>
                    Remove&hellip;
                </a>
            <a class="btn btn-default open-dialog verify"
               href="{% url 'network_virtualization_verify_connection' sdn.id %}">
                <span class="icon-verify-connection"></span>
                Verify Connection
            </a>
        </div>

        <dl>
            <dt>Technology:</dt><dd>{{ sdn.network_virtualization_technology.name }}</dd>
            <dt>IP Address:</dt><dd>{{ sdn.ip }}</dd>
            <dt>Username:</dt><dd>{{ sdn.serviceaccount }}</dd>

            <dt>
                <span title="When building servers in these environments it's possible to attach them to software defined network segments managed by the platform." data-toggle="tooltip">Environments</span>:
            </dt>
            <dd>
                {{ environment_displays|render_list:profile }}
            </dd>
        </dl>

{% endblock content %}
