{% load infrastructure_tags %}
{% load helper_tags %}

<div id="server-actions" class="btn-group-vertical">
    {% for action in actions %}
        {% if action.new_section %}

            {# Start a new btn-group. Here, action dict just contains the new section label #}
            </div>

            {% if action.label %}
                <h4> {{ action.label }} </h4>
            {% endif %}

            <div class="btn-group-vertical">
        {% else %}
            <a class="btn btn-default{% if not action.not_dialog %} js-dialog-link {% endif %}{% if action.disabled %} disabled {% endif %}"
                href="{{ action.url }}"
                title="{{ action.label }}"
                data-role="{{ action.role }}"
                {# arbitrary HTML attributes from a dict #}
                {% for name, value in action.attrs.items %}
                    {{ name }}="{{ value }}"
                {% endfor %}
                >
                {% if action.icon_classes %}<i class="{{ action.icon_classes }}"></i>{% endif %}
                <span class="action-label">{{ action.label }}</span>
            </a>
        {% endif %}
    {% endfor %}
</div>
<script>
    c2.server.setActionButtonStates(
        '{{ server.power_status }}',
        {{ server.can_be_modified|to_json }},
        {{ server.can_console|to_json }},
        {{ server.can_be_decommissioned|to_json }}
    );

    var $refreshInfo = $('[title|="Refresh Info"]');
    var $serverActions = $('#server-actions');
    $refreshInfo.on('click', function() {
      c2.block.block($serverActions);
    });
</script>
