{% load i18n %}
{% load helper_tags %}

<i class="fas fa-user"></i>
{% if creds.username %}
    {{ creds.username }}
{% else %}
    {% trans 'not set' %}
{% endif %}
/
<i class="fas fa-lock"></i>
{% if creds.password %}
    ****    <!-- Temporary solution until Thomas does his pretty approach -->
{% else %}
    {% trans 'not set' %}
{% endif %}
{# Don't show key where it doesn't make sense #}
{% if not server.is_windows and not server.scripts_will_use_vmware_tools %}
    /
    {% text_tooltip '<i class="fas fa-key"></i>' 'If this server has an SSH key provided by the Resource Handler, that key (shown in the tech-specific details section) will not actually be disassociated from the server by either deleting these credentials or setting the key to None when editing.' %}
    {% if creds.keyfile %}
        {{ creds.keyfile }}
    {% else %}
        {% trans 'not set' %}
    {% endif %}
{% endif %}
{% if server.status != 'HISTORICAL' %}
  <a title="{% trans 'Edit credentials for server in CB' %}"
  href="{% url 'edit_server_credentials' server.id %}"
  class="icon-edit open-dialog"></a>
{% endif %}
<a title="{% trans 'Delete credentials for server in CB' %}"
href="{% url 'delete_server_credentials' server.id %}"
class="icon-delete open-dialog"></a>
