{% extends 'dialogs/dialog.html' %}
{% load helper_tags %}


{% block form_content %}
<div id="edit_server_credentials_form" ng-non-bindable {# allow template-type strings containing curly braces #}>
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
            {{ form.username.errors }}
            {{ form.password.errors }}
            {{ form.key_name.errors }}
        </div>
    {% endif %}

    <span>
      {% text_tooltip form.username.label form.username.description %} {{ form.username }}
      {% text_tooltip form.password.label form.password.description %} {{ form.password }}
      {% text_tooltip form.key_name.label form.key_name.description %} {{ form.key_name }}
      <span class="help-block">{{ form.key_name.help_text }}</span>
    </span>
{% endblock form_content %}
