{% extends "base.html" %}
{% load rest_framework %}
{% load api_tags %}

{% block title %}
    {% with breadcrumblist|last as current_crumb %}
        {{ current_crumb.0 }} - API Browser
    {% endwith %}
{% endblock title %}

{% block content %}
    <h1>API Browser</h1>

    <ol class="breadcrumb">
        {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
            {% if forloop.last %}
                <li class="active">{{ breadcrumb_name }}</li>
            {% else %}
                <li><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right h3" style="margin: 0;">
                <a data-toggle="tooltip"
                   class="no-tooltip-affordance"
                   href="{{ STATIC_URL }}CloudBolt_API_Samples.zip"
                   title="Download the API client samples"><span class="glyphicon glyphicon-download"></span></a>

                <a data-toggle="tooltip"
                   class="no-tooltip-affordance"
                   href="{{ STATIC_URL }}docs/HTML/cloudbolt-api-v2-0.html" target="_blank"
                   title="API Documentation"><span class="glyphicon glyphicon-question-sign"></span></a>

                <a data-toggle="tooltip"
                   class="no-tooltip-affordance"
                   href="/api-docs/#!/v2/" target="_blank"
                   title="API Console"><span class="glyphicon glyphicon-new-window"></span></a>
            </div>
            <pre class="pre-unboxed no-margin"><b>{{ request.method }}</b> {{ request.get_full_path }}</pre>
            {{ description }}
        </div>

        <div class="panel-body">
<pre class="pre-unboxed"><b>HTTP {{ response.status_code }} {{ response.status_text }}</b>
{% for key, val in response.items %}<b>{{ key }}:</b> {{ val|break_long_headers|urlize_quoted_api_links }}
{% endfor %}</pre>
        </div>

        <div class="panel-body">
            <pre class="pre-unboxed">{{ content|urlize_quoted_api_links }}</pre>
        </div>


        {% if display_edit_forms %}
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                    {% if raw_data_post_form %}
                    <h2>POST Data</h2>

                    {% with form=raw_data_post_form %}
                    <form action="{{ request.get_full_path }}" method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <fieldset>
                            {% include "rest_framework/raw_data_form.html" %}
                            <div class="form-actions">
                                <button class="btn btn-primary" title="Make a POST request on the {{ name }} resource">POST</button>
                            </div>
                        </fieldset>
                    </form>
                    {% endwith %}
                    {% endif %}{# end POST section #}
                </div>
                <div class="col-sm-6">
                    {% if raw_data_put_form or raw_data_patch_form %}
                    <h2>PUT/PATCH Data</h2>

                    {% with form=raw_data_put_or_patch_form %}
                    <form action="{{ request.get_full_path }}" method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <fieldset>
                            {% include "rest_framework/raw_data_form.html" %}
                            <div class="form-actions">
                                {% if raw_data_put_form %}
                                <button class="btn btn-primary" data-method="PUT" value="PUT" title="Make a PUT request on the {{ name }} resource">PUT</button>
                                {% endif %}
                                {% if raw_data_patch_form %}
                                <button class="btn btn-primary" data-method="PATCH" value="PATCH" title="Make a PATCH request on the {{ name }} resource">PATCH</button>
                                {% endif %}
                            </div>
                        </fieldset>
                    </form>
                    {% endwith %}
                    {% endif %}{# end PUT/PATCH section #}
                </div>
            </div>
        </div>
        {% endif %}{# end if display_edit_forms #}
    </div>{# end .panel.panel-default #}

{% endblock content %}

{% block onReady %}
    {# For submitting POST/PUT/PATCH requests via AJAX, see drf-ajax-form.js #}
    $("form").ajaxForm();
{% endblock onReady %}
