{% load helper_tags %}
{% load static %}

<!doctype html>
<html>
<head>
    <meta charset=utf-8>
    <title>Finishing Configuration</title>
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
    {#  Make the page automatically reload every 30 seconds to see if it's done #}
    <script type="text/javascript">
        window.onload = function() {
            setTimeout("location.reload();", 30000);
        }
    </script>
</head>
<body>
    <div class="dead-center-container">
    <div class="dead-center-content">
    <div class="container">
    <div class="row">
    <div class="col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                {% if is_fuse %}
                    <img width=200 height=49 src="{% static 'logos/onefuse-logo-long-color.svg' %}">
                {% else %}
                    <img width=200 height=49 src="{% static 'logos/cb-sw-horizontal.svg' %}">
                {% endif %}
            </div>
            <div class="panel-body text-left extra-padding">
                <div class="col">
                    <h1>Finishing Configuration of Appliance</h1>
                    <p>
                        The configuration of the appliance is being finalized.
                        Please try again soon, or contact your administrator to find out when it will be ready.
                    </p>
                    {% include "product_license/mini_details.html" %}
                    <div class="text-center"><a href="/" class="btn btn-default">Retry</a></div>
                </div>{# end .col #}
            </div>{# end .panel-body #}
        </div>{# end .panel #}
    </div>{# end .col... #}
    </div>{# end .row #}
    </div>{# end .container #}
    </div>{# end .dead-center-content #}
    </div>{# end .dead-center-container #}
</body>
</html>
