{% load helper_tags %}
{% load i18n %}

{% if creds.username or creds.password or creds.keyfile %}
    <i class="fas fa-user"></i>
    {% if creds.username %}
        {{ creds.username }}
    {% else %}
        not set
    {% endif %}
    /
    <i class="fas fa-lock"></i>
    {% if creds.password %}
        ****    <!-- Temporary solution until Thomas does his pretty approach -->
    {% else %}
        not set
    {% endif %}
    /
    <i class="fas fa-key"></i>
    {% if creds.keyfile %}
        {{ creds.keyfile }}
    {% else %}
        not set
    {% endif %}
    {% if profile.is_cbadmin or not script.shared %}
        <a title="Edit credentials for remote script"
          href="{% url 'edit_script_credentials' script.id %}"
          class="icon-edit open-dialog"></a>
        <a title="Delete credentials for remote script"
          href="{% url 'delete_script_credentials' script.id %}"
          class="icon-delete open-dialog"></a>
    {% endif %}
{% else %}
    {% if profile.is_cbadmin or not script.shared %}
        {% trans 'None configured' %} {% blockinfotip %}{% trans "Will use credentials set on server. To override those, add credentials to this script" %}{% endblockinfotip %}
        <a title="{% trans 'Add credentials to remote script' %}"
          href="{% url 'add_script_credentials' script.id %}"
          class="icon-add open-dialog"></a>
    {% else %}
        {% trans 'None configured' %} {% blockinfotip %}{% trans "Will use credentials set on server" %}{% endblockinfotip %}
    {% endif %}
{% endif %}
