{% extends "reports/internal/base.html" %}
{% load helper_tags %}
{% block topnav %}admin{% endblock %}
{% block uplink %}
   <span class="uplink"><a href="{% url 'admin_home' %}">Admin</a></span>
{% endblock %}

{% block content %}

    {% block server_side_csv_export %}
        {{ block.super }}
    {% endblock %}
    <div>
        <table data-table>
            <thead>
                <tr>
                    <th>Setting</th>
                    <th>Value</th>
                    <th> In customer_settings?</th>
                </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <td class ="shrink">{{row.0}} </td>
                    <td> {{row.1}}</td>
                    <td> {{row.2|render_as_checkmark}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
