{% load helper_tags %}
{% load i18n %}

<div class="scrollable-table-container" style="max-height: {{ max_height }};">
  <table class="table table-condensed">
      <thead>
        <tr>
          <th>{% trans 'Job' %}</th>
          <th>{% trans 'Status' %}</th>
          <th>{% trans 'Owner' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for job in jobs %}
        <tr>
          <td>{{ job }}</td>
          <td>{{ job.status }}</td>
          <td>{% if job.owner %}
                  {{ job.owner }}
              {% else %}
                  {% trans "None" %}
              {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
