{# added to common tab-disks.html #}
{% load i18n %}

<dt>Storage Account:</dt>
<dd>{{ disk.storage_account }}</dd>

<dt>Host Caching:</dt>
<dd>{{ disk.host_caching }}</dd>

{% if disk.disk_size == 0 or not disk.disk_size %}
    <dt></dt>
    <dd class="alert alert-info" role="alert">
        {% blocktrans %}
             Those disk details don't look right. Refresh info on this server to update this disk's attributes.
        {% endblocktrans %}
    </dd>
{% endif %}

{% if disk.name != 'OS Disk' %}
    {# Allow resizing and deleting of data disks. #}
    {% include 'servers/disk_actions.html' with allow_resize=True position=position %}
{% else %}
    {# Allow resizing of the OS Disk, but not deleting it. #}
    {% if "server.resize_disks" in profile.permissions %}
        <dt>{% trans 'Actions:' %}</dt>
        <dd>
            <a class="icon-edit open-dialog"
                href="{% url 'server_resize_disk' disk.server.id disk.id position %}"></a>
        </dd>
    {% endif %}
{% endif %}
