{# Renders the markup for common.widgets.CodeEditorWidget #}
{% load helper_tags %}
{% load i18n %}

<div class="editor-wrap {% if one_line %}one-line{% endif %}">
  <textarea name="{{ name }}"
      {# Add widget attrs such as data-control for the dependent fields feature. #}
      {% for attr_name,attr_val in attrs.items %} {{ attr_name }}="{{ attr_val }}" {% endfor %}
      >{{ initial_code|default:"" }}</textarea>

  <div id="{{ editor_id }}"
    class="{% if compact %}ace-compact{% else %}ace-lg{% endif %}
      {% if one_line %}ace-one-line{% endif %}">
  </div>

  <div class="btn-toolbar">

    {% if snippet_controls %}
      <div class="btn-group pull-right snippets">

        <select id="{{ editor_id }}-objects" class="compact">
          <option value="">{% trans 'Insert an object' %}&hellip;</option>
          {% for object_name in snippet_controls.object_names %}
            <option value="{{ object_name }}">{{ object_name }}</option>
          {% endfor %}
        </select>

        <select id="{{ editor_id }}-attrs" class="compact" placeholder="{% trans 'Choose attribute' %}&hellip;">
          {# Will be populated after the first dropdown changes, via c2.combobox.chain #}
        </select>
      </div>
    {% endif %}

    {% if language_controls %}
      <div class="btn-group">
        {% trans "Syntax highlighting" %}:
        <select id="{{ editor_id }}-language"></select>
        &nbsp;
        <label>
          <input class="pull-left" type="checkbox" id="{{ editor_id }}-other-langs" name="{{ editor_id }}-other-langs" value="1" />
          <span class="help-block nowrap">&nbsp;{% trans "Show Other Languages" %}</span>
        </label>
      </div>
    {% endif %}

  </div>

</div>
<script>
// Expose the function as a variable so we can run a script with it in the UI Tests.
var initEditor = function initAce() {
  var textarea = $('textarea[name="{{name}}"]').hide();
  var editor = c2.ace.init(
    '{{ editor_id }}',
    {
      compact: {{ compact|to_json }},
      cursorAtStart: {{ cursor_at_start|to_json }},
      language: '{{ language }}',
      oneLine: {{ one_line|to_json }}
    },
    textarea.val()
  );

  {% if snippet_controls %}
    c2.ace.setupSnippets(editor);
  {% endif %}

  {% if language_controls %}
    c2.ace.setupLanguages(
      editor,
      'ace/mode/{{ language }}',
      {{ default_to_powershell|to_json }}
    );
  {% endif %}


  // Synchronize with textarea element so form works
  editor.getSession().on('change', function(){
    textarea.val(editor.getSession().getValue());
  });

  editor.focus();
  // Let user type; without this the text is selected and cursor won't move
  editor.setReadOnly(false);

  {% if dialog_auto_height %}
    c2.ace.autoHeightAceInModal();
  {% endif %}
  return editor
};

setTimeout(initEditor, 100);


// Prevent accidental loss of changes through backspace key, etc.
// Pops up a confirmation dialog.
window.onbeforeunload = function (e) {
  var message = "Your changes have not been saved.";
  var e = e || window.event;

  // For IE and Firefox
  if (e) {
    e.returnValue = message;
  }

  // For Safari
  return message;
};

// Important: remove the nav confirmation dialog
$('.modal-footer .btn').click(function(e) {
  window.onbeforeunload = function() {};
});
$(document).on('hidden.bs.modal', function (e) {
  window.onbeforeunload = function() {};
});

</script>
