<tr data-id="{{network.id}}">
    <td class="name">
        <span class="icon-network"></span>&nbsp
        <a href="{% url "network_detail" network.id %}">
            {{ network.name|default:network.id }}
        </a>
    </td>
    <td>
        {{ network.subnetworks.count }}
    </td>
    <td>
        {{ network.mode }}
    </td>
    <td>
        {{ network.cidr_block }}
    </td>
    <td class="gateway">
        {{ network.gateway|default:"" }}
    </td>
    <td>
        <a class="icon-delete open-dialog"
            href="{% url 'resourcehandler_network_delete' handler.id network.id %}"></a>
        <a class="fas fa-sync"
            href="{% url 'resourcehandler_update_network' handler.id network.id %}"
            title="Refresh this network"></a>
    </td>
</tr>